.sidebar {
    background: #EBEBEB;
    height: 100%;
}

.sidebar-links {
    list-style: none;
    padding: 0;

    a {
        color: #333;
        text-decoration: none;

        &:hover {
            color: #ebebeb;
        }
    }
}

a.active-link > .sidebar-link-item {
    padding: 12px;
    color: #EBEBEB;
    background: #333;
    border-bottom: 1px solid darken(#ebebeb, 5%);
    transition: background 0.1s ease-in-out;

    & > * { color: #ebebeb; }
}

.sidebar-link-item {
    padding: 12px;
    border-bottom: 1px solid darken(#ebebeb, 5%);
    transition: background 0.1s ease-in-out;

    &:hover, &.active-link {
        background: #333;
        cursor: pointer;

        & > i {
            color: #ebebeb;
        }

        & > a {
            color: #ebebeb;
        }
    }
}