.sidebar {
    background: #EBEBEB;
    height: 100%;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin-top: 0.5em;
}

.sidebar-link-item {
    padding: 12px;
    border-bottom: 1px solid darken(#ebebeb, 5%);
    transition: all 0.15s ease-in;

    &:hover {
        background: #333;
        color: #fff;
        cursor: pointer;
    }
}